<div id="fc_checkout_container" class="fc_error_session">
    {% for error_code in error_codes %}
        {{ lang[error_code]|raw }}
        <p>
            <a href="{{ store_url }}">{{ store_name }}</a>
        </p>
    {% endfor %}
</div>