<div id="summary-main" class="grid_3 omega">
  <div id="summary-view" class="wrapper">
    <h2 class="rule">Registration</h2>

    <div id="who-view" class="wrapper">
      <h4>Who you have selected:</h4>
      <!--<li id="<%#= current_user.user_id %>_person"><%#= current_user.user_name %>&nbsp;&nbsp;&nbsp;<span id="5.0" class="item-price-summary"><%#= @event.base_price > 0 ? '$%.2f' % @event.base_price : '' %></span></li>-->
    </div>
    <br/>
    <div id="what-view" class="wrapper">
      <h4>What you have selected:</h4>
    </div>
  </div>
  <div class="rule guttertop"></div>

  <h4 id="totalCartAmountHolder">
    <span id="total_summary"></span>
  </h4>
  <!--<h4>Max Limit: <%#= "$%.2f" % @event.max_price %> </h4>-->
</div>
