<h4 class="rule">
  <%= a.addon.title %>
</h4>
<ul>
<li class="grid-6-12">
  <%= addon_form.input :addon_value, collection: a.addon.choices.map{|a| ["#{a.title} #{ a.price > 0 ? ' - $%.2f' % a.price : ''}",a.id, {"data-title" => a.title},{"data-price" => a.price},{:"data-value" => "1"},{:"control-type" => "dropdown"} ]},prompt: "Choose"  , include_blank: false,input_html: { class: 'price-option required', :"data-type" => "addon_#{a.addon.id}",:"control-type" => "dropdown" }, label: false  %>
  <%= addon_choices_dropdown(addon_form,a) %>
</li>
<li class="grid-6-12">&nbsp;</li>
</ul>