<div id="summary-main">
  <div id="summary-view" class="cart">
    <div id="who-view" class="wrapper entry">
        <!--#65-->
        <!--<li id="<%#= current_user.user_id %>_person">-->
            <!--<span class="name"><%#= current_user.user_name %></span>-->
            <!--<span id="5.0" class="price item-price-summary"><%#= '$%.2f' % @event.base_price %></span>-->
        <!--</li>-->
    </div>
    <div id="what-view" class="wrapper entry"> </div>
    <div class="total">
      <div id="totalCartAmountHolder">
        <span id="total_summary"></span>
      </div>
    </div>
    <a href="" id="submit" class="green-btn">Click Here to Register</a>

  </div>
</div>



