<header id="main-head" class="main-header">
  <div class="container">
    <div class="userarea">Welcome, <%= current_city_user ? "#{current_city_user.first} #{current_city_user.last}" : 'Guest' %> </div>
    <a class="logo" href="<%= root_path %>"><span>Two Rivers Church</span>Event Registration</a>
    <div class="clr"></div>
  </div>
</header>
